
/** 상품분류 **/

    #category-lnb { position:relative; float:left; z-index:11; }
    #category-lnb a { display:block; color:#333; font-size:11px; text-transform:/* uppercase 대문자로 */; white-space:nowrap; }
    #category-lnb a:hover { color:#111; text-decoration:none; }


    /* 1depth */
    #category-lnb .d1-wrap { /*overflow:auto*/ }
    #category-lnb .d1-wrap .d1 { position:relative; float:left; }
    #category-lnb .d1-wrap .d1 > a { line-height:50px; padding:0 120px/*대분류 간격*/; font-size:14px;/*대분류 폰트사이즈*/ font-weight:normal/*대분류 굵기*/; text-align:center; }
    /* 1265px 이하 */
    @media all and (max-width:1265px){
        #category-lnb .d1-wrap .d1 > a { padding:0 5px/*대분류 간격*/; font-size:11px;/*대분류 폰트사이즈*/ }
    }
    #category-lnb .d1-wrap .d1 > a:hover,
    #category-lnb .d1-wrap .d1.on > a { font-weight:bold; color:#111; }

    #category-lnb .d1-wrap .d1:first-child i { top:-13px; left:-10px; font-size:20px; }


    /* 2depth */
    #category-lnb .d2-wrap { display:none; position:absolute; left:-5px; top:50px; border:1px solid #ddd; background:#fff; white-space:nowrap; }
    #category-lnb .d2-wrap > dl { position:relative; z-index:1; display:inline-block; min-width:160px; margin:0 -1px 0 0; padding:10px 0; border-right:1px solid #ddd; }
    #category-lnb .d2-wrap .d2 { position:relative; }
    #category-lnb .d2-wrap .d2.be { background:url('/_wg/img/arrow_menu.gif') no-repeat 95% 5px; }
    #category-lnb .d2-wrap .d2 > a { line-height:27px; padding:0 20px 0 15px; transition:all .2s ease; -webkit-transition:all .2s ease; }
    #category-lnb .d2-wrap .d2 > a:hover,
    #category-lnb .d2-wrap .d2.on > a { background:#f4f4f4; color:#111; }

    /* 우측 이미지 */
    #category-lnb .d2-wrap .img { position:relative; display:inline-block; vertical-align:top; font-size:0; }
    #category-lnb .d2-wrap .img a { display:inline-block; height:100%; border-left:1px solid #ddd; vertical-align:top; }
    #category-lnb .d2-wrap .img img { display:block; padding:15px; }
    #category-lnb .d2-wrap .img a.map { position:absolute; background:rgba(5,255,252,.5); }/*링크영역표시, 표시를 삭제할려면 백그라운드값을 삭제해주세요. */

    /* 신상품 추출 아이프레임 */
    #category-lnb iframe { z-index:1; top:0; left:-1px; width:630px; height:380px; border-left:1px solid #ddd; }


    /* 3depth */
    #category-lnb .d3-wrap { display:none; position:absolute; left:160px; top:-11px; padding:10px 0; background:#fff; border:1px solid #ddd; }
    #category-lnb .d3-wrap .d3 { position:relative; }
    #category-lnb .d2-wrap .d3.be { background:url('/_wg/img/arrow_menu.gif') no-repeat 95% 5px; }
    #category-lnb .d3-wrap .d3 > a { min-width:140px; line-height:27px; padding:0 10px; transition:all .2s ease; -webkit-transition:all .2s ease; }
    #category-lnb .d2-wrap .d3 > a:hover,
    #category-lnb .d3-wrap .d3.on > a { background:#f4f4f4; color:#111; }
    

    /* 4depth */
    #category-lnb .d4-wrap { display:none; position:absolute; left:160px; top:-11px; padding:10px 0; background:#fff; border:1px solid #ddd; }
    #category-lnb .d4-wrap .d4 > a { min-width:150px; line-height:27px; padding:0 10px; transition:all .2s ease; -webkit-transition:all .2s ease; }
    #category-lnb .d3-wrap .d4 > a:hover { background:#f4f4f4; color:#111; }

